.title{
    font-size: 40px;
    margin: 10px 0;
    color: #fff;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #044da0;
    padding: 10px 20px;
    border-radius: 15px;
    min-width: 299px;
}
.addTask{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.inputTitle{
    width: 200px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1px 10px;
    font-size: 18px;
}

.input{
    width: 30px;
    height: 30px;
    background-color: #fcfcfc;
    border: 1px solid #fcfcfc;
    outline: none;
}
/*input[type="checkbox"]{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: #fcfcfc !important;*/
/*}*/
.task{
    width: 100%;
    text-align: center;
    transition: all .3s ease;
    color: #fff;
}
.button,
.buttonTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    background-color: #11345b;
    border: 1px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 700;
    color: #fff;
}
.button:hover,
.buttonTwo:hover{
    border: 1px solid #fcfcfc;
    background-color: #fcfcfc;
    color: #11345b;
}
.buttonTwo{
    width: 60px;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fcfcfc;
    padding: 10px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 7px;
}
li + li{
    margin-top: 15px;
}
li:hover{
   background-color: #154e8e;
}

.buttonWrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonWrap .button{
    width: 90px;
}